include requirements.txt
include build-requirements.txt
include test-requirements.txt
include LICENSE.txt
include README.md
include setup.py
include pygalle_package.py
include setup.cfg
recursive-include data *