[pypi-version-badge]: https://img.shields.io/pypi/v/{{ package.name| safe }}.svg
[pypi-version-url]: https://pypi.org/project/{{ package.name| safe }}
[pypi-downloads-badge]: https://img.shields.io/pypi/dt/{{ package.name| safe }}.svg
[pypi-downloads-url]: https://pypi.org/project/{{ package.name| safe }}
[travis-badge]: https://img.shields.io/travis/{{ github.username| safe }}/{{ github.repository| safe }}/{{ github.branch| safe }}.svg?label=TravisCI
[travis-badge-url]: https://travis-ci.org/{{ github.username| safe }}/{{ github.repository| safe }}
[circle-badge]: https://circleci.com/gh/{{ github.username| safe }}/{{ github.repository| safe }}/tree/{{ github.branch| safe }}.svg?style=svg&circle-token={{ CIRCLE_TOKEN| safe }}
[circle-badge-url]: https://circleci.com/gh/{{ github.username| safe }}/{{ github.repository| safe }}/tree/{{ github.branch| safe }}
[coveralls-badge]: https://coveralls.io/repos/github/{{ github.username| safe }}/{{ github.repository| safe }}/badge.svg?branch={{ github.branch| safe }}
[coveralls-badge-url]: https://coveralls.io/github/{{ github.username| safe }}/{{ github.repository| safe }}?branch={{ github.branch| safe }}
[codeclimate-badge]: https://img.shields.io/codeclimate/github/{{ github.username| safe }}/{{ github.repository| safe }}.svg
[codeclimate-badge-url]: https://codeclimate.com/github/{{ github.username| safe }}/{{ github.repository| safe }}
[ember-observer-badge]: http://emberobserver.com/badges/{{ github.repository| safe }}.svg
[ember-observer-badge-url]: http://emberobserver.com/addons/{{ github.repository| safe }}
[license-badge]: https://img.shields.io/pypi/l/{{ package.name| safe }}.svg
[license-badge-url]: LICENSE.md
[documentation-badge]: https://readthedocs.org/projects/{{ package.name|replace('.','')| safe }}/badge/?version=latest
[documentation-badge-url]: http://{{ package.name|replace('.','')| safe }}.readthedocs.io/en/latest/?badge=latest

