[![PyPI Version][pypi-version-badge]][pypi-version-url]
[![PyPI Downloads][pypi-downloads-badge]][pypi-downloads-url]
[![TravisCI Build Status][travis-badge]][travis-badge-url]
[![Test Coverage][coveralls-badge]][coveralls-badge-url]
[![Code Climate][codeclimate-badge]][codeclimate-badge-url]
[![Documentation Status][documentation-badge]][documentation-badge-url]
[![License][license-badge]][license-badge-url]
