## <a name="compatibility"> Compatibility

### <a name="compatibility_python"> Python

{% for version in pythons %}
* Tested using [Python {{ version | safe}}](https://docs.python.org/{{ version|replace('-dev', '') | safe}}/).{% endfor %}
