{% include 'badges-declare.md.jinja' %}

# {{ github.repository | safe}}

{{ package.description | safe}}

{% include 'work-in-progress.md.jinja' %}

{% include 'badges.md.jinja' %}


## Table of Contents

* [Synopsis](#synopsis)
* [Usage](#usage)
* [Installation](#installation)
* [API Reference](#api-reference)
* [Tests](#tests)
  * [Run unit tests](#tests_run-unit-tests)
* [Build](#build)
  * [Documentation](#generate-documentation)
    * [Generate README](#generate-documentation-readme)
    * [Generation API reference](#generate-documentation-api)
* [Compatibility](#compatibility)
  * [Node](#compatibility_python)
  * [Browser](#compatibility_browser)
* [Issues](#issues)
* [Contributing](#contributing){% if credits %}
* [Credits](#credits){% endif %}
* [History](#history)
* [License](#license)

{% include 'synopsis.md.jinja' %}
{% include 'usage.md.jinja' %}
{% include 'install.md.jinja' %}
{% include 'api.md.jinja' %}
{% include 'tests.md.jinja' %} 
{% include 'build.md.jinja' %}
{% include 'compatibility.md.jinja' %}
{% include 'issues.md.jinja' %}
{% include 'contributing.md.jinja' %}
{% include 'credits.md.jinja' %}
{% include 'history.md.jinja' %}
{% include 'license.md.jinja' %}
